{clean_files, ["erl_crash.dump"]}.

{
	deps, [
		{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
		{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
		{gen_leader, ".*", {git, "https://github.com/abecciu/gen_leader_revival.git", "master"}}
	]
}.

